<h1>Add User</h1>
<form id="new_user">
	<input placeholder="firstname" name="user[first_name]" require=true />
	<input placeholder="lastname" name="user[last_name]" require=true/>
	<input placeholder="phonenumber" name="user[phone_number]"/>
	<button class="btn btn-primary" type="submit">Add</button>
</form>